@charset "utf-8";

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    background-color: green;
    border-bottom: thick solid black;
    padding: 5px 10px 5px 10px;
}

nav {
    border-bottom: thick solid black;
    text-align: center; 
   background-color:green;
   padding-bottom: 5px;
   padding-top: 5px;
}

nav a {
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:link, a:visited {
	color: black;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: 2%;
}

#wrapper {
    margin: 2%;
}

footer {
    background-color: green;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    border-top: thick solid black;
}

footer div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Franklin Gothic small', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
