@charset "utf-8";

header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    background-color: lightblue;
    border-bottom: thick solid black;
    padding: 5px 10px 5px 10px;
}

nav {
    border-bottom: thick solid black;
    text-align: center; 
   background-color:lightblue;
   padding-bottom: 5px;
   padding-top: 5px;
}

nav a {
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

nav a:link, a:visited {
	color: black;
}

nav a:hover {
    text-decoration: underline;
}

main {
    margin: 2%;
}

#wrapper {
    margin: 2%;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    border-top: thick solid black;
}

footer div {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

ol {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
